{% extends 'admin_index.html' %}
{% block body %}

<div class="card-body">
    <h5 class="card-title">Bus</h5>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admindash"><i class="bi bi-house-door"></i></a></li>
            <li class="breadcrumb-item"><a href="#">Bus</a></li>
            <li class="breadcrumb-item active">Add Bus</li>
        </ol>
    </nav>
</div>

<div class="col-6">
    <div class="card">


<body>
<form id="form1" name="form1" method="post" action="add_bus1" enctype="multipart/form-data">
  <table class="table table-hover">
    <tr>
      <th>Bus_no</th>
      <td>
        <input class="form-control" type="text" name="textfield2" pattern="([1-9]|[1-9][0-9]|100)" title="Must contain a no between 1-100" required/>
      </td>
    </tr>
    <tr>
      <th>Route Name</th>
      <td>
        <!--<input class="form-control" type="text" name="textfield" />-->
        <select class="form-control" name="select">
            <option value="None">None</option>
            {% for i in val %}
            <option value="{{i['route_id']}}">{{i['route_name']}}</option>
            {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <th>Bus_name</th>
      <td>
        <input class="form-control" type="text" name="textfield3" pattern="[A-Z a-z.]{5,25}" title="Must contain at least 5 or more characters" required/>
      </td>
    </tr>
    <tr>
      <th>Bus_regno</th>
      <td>
        <input class="form-control" type="text" name="textfield" pattern="[A-Z]{2}[ -][0-9]{1,2}(?: [A-Z])?(?: [A-Z]*)? [0-9]{4}" title="Please Enter valid Reg no" required/>
      </td>
    </tr>
    <tr>
      <th>Bus_image</th>
      <td>
        <input class="form-control" type="file" name="textfield4" required/>
      </td>
    </tr>
    <tr>
      <th>Seat</th>
      <td>
        <input class="form-control" type="number" name="textfield5" pattern="([1-9]|[1-9][0-9]|100)" title="Must contain a no between 1-100" required/>
      </td>
    </tr>
    <tr>
      <th>Status</th>
      <td>
      <select class="form-control" name="select1" required>
        <option>active</option>
        <option>not active</option>
      </select>
      </td>
    </tr>
    <tr>
    <th colspan="2">
        <input class="btn btn-primary w-100" type="submit" name="Submit" value="Add" />
    </th>
    </tr>
  </table>
</form>
</body>

   </div>
</div>

{% endblock %}
