{% extends 'admin_index.html' %}
{% block body %}

<div class="card-body">
    <h5 class="card-title">Stop</h5>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admindash"><i class="bi bi-house-door"></i></a></li>
            <li class="breadcrumb-item"><a href="#">Stop</a></li>
            <li class="breadcrumb-item active">Add Stop</li>
        </ol>
    </nav>
</div>

<div class="col-6">
    <div class="card">



<body>
<form id="form1" name="form1" method="post" action="add_stop1">
  <table class="table table-hover">
    <tr>
      <th>Route Name</th>
      <td>
          <select class="form-control" name="select" required>
            {% for i in val %}
            <option value="{{i['route_id']}}">{{i['route_name']}}</option>
            {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <th>Stop Name</th>
      <td>
          <input type="text" class="form-control" name="textfield1" pattern="[A-Z a-z.]{3,25}" required>
      </td>
    </tr>
    <tr>
      <th>Stop Fees</th>
      <td>
        <input type="number" class="form-control"  name="textfield2" required>
      </td>
    </tr>
    <tr>
      <th>Latitude</th>
      <td>
        <input type="text" class="form-control" name="textfield3" required>
      </td>
    </tr>
    <tr>
      <th>Longitude</th>
      <td>
        <input class="form-control" type="text" name="textfield4" required/>
      </td>
    </tr>
    <tr>
      <th>Mrng Time</th>
      <td>
        <input class="form-control"  type="time" name="textfield5" required>
      </td>
    </tr>
    <tr>
      <th>Evng Time</th>
      <td>
         <input class="form-control"  type="time" name="textfield6" required>
      </td>
    </tr>
    <tr>
    <th colspan="2">
        <input class="btn btn-primary w-100" type="submit" name="Submit" value="Add" />
    </th>
    </tr>
  </table>
</form>
</body>

    </div>
</div>

{% endblock %}