{% extends 'index_driver.html' %}
{% block body %}

<div class="card-body">
    <h5 class="card-title">Request leave</h5>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admindash"><i class="bi bi-house-door"></i></a></li>
            <li class="breadcrumb-item"><a href="#">Driver Leave</a></li>
            <li class="breadcrumb-item active">Request leave</li>
        </ol>
    </nav>
</div>

<div class="col-12">
    <div class="card">
<body>


<form id="form1" name="form1" method="post" action="leave_assign1">
  <table class="table table-hover">

      <tr>
      <th>Driver Name</th>
      <td>
        <select class="form-control" name="select1">
            <option value="None">None</option>
            {% for i in data %}
            <option value="{{i['login_id']}}">{{i['driver_name']}}</option>
            {% endfor %}
        </select>
      </td>
    </tr>
      <tr>
      <th>From</th>
      <td><input type="text" readonly name="textfield" value="{{val['from']}}"></td>
      </tr>
      <tr>
      <th>To</th>
      <td><input type="text" readonly name="textfield2" value="{{val['to']}}"></td>
      </tr>

      <tr>
      <th>
          <td> <input type="submit" name="submit" value="Assign"></td>
      </th>
      </tr>
  </table>


</form>
</body>

    </div>
</div>
{% endblock %}


