<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_004ab06042df6c7aae8d8839d6de5d61 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_004ab06042df6c7aae8d8839d6de5d61" ></div>
        
</body>
<script>    
    
            var map_004ab06042df6c7aae8d8839d6de5d61 = L.map(
                "map_004ab06042df6c7aae8d8839d6de5d61",
                {
                    center: [11.3122, 75.9545],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_bfe1a515e1bf9f1d3fd6190d349ae1ae = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_004ab06042df6c7aae8d8839d6de5d61);
        
    
            var marker_bd1461a9d72ab2566dbd7ba21ce3b06f = L.marker(
                [11.318, 75.9485],
                {}
            ).addTo(map_004ab06042df6c7aae8d8839d6de5d61);
        
    
            var icon_895b7cf61f5139d7a62801733d1ff951 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_bd1461a9d72ab2566dbd7ba21ce3b06f.setIcon(icon_895b7cf61f5139d7a62801733d1ff951);
        
    
        var popup_a02ededb300550ea75bc154eedac3efc = L.popup({"maxWidth": "100%"});

        
            
                var html_be5bd55beeec3b9fca3e0a9ad3840ca2 = $(`<div id="html_be5bd55beeec3b9fca3e0a9ad3840ca2" style="width: 100.0%; height: 100.0%;">Kallanthode(M:11:59:00,E:22:59:00)</div>`)[0];
                popup_a02ededb300550ea75bc154eedac3efc.setContent(html_be5bd55beeec3b9fca3e0a9ad3840ca2);
            
        

        marker_bd1461a9d72ab2566dbd7ba21ce3b06f.bindPopup(popup_a02ededb300550ea75bc154eedac3efc)
        ;

        
    
    
            var marker_dc249a95d717376683d9b86c6faea467 = L.marker(
                [11.3049, 75.8771],
                {}
            ).addTo(map_004ab06042df6c7aae8d8839d6de5d61);
        
    
            var icon_227bf85825528440fe125f4e3380c6b3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_dc249a95d717376683d9b86c6faea467.setIcon(icon_227bf85825528440fe125f4e3380c6b3);
        
    
        var popup_8dd501710385f69c026cd2aa21d871a7 = L.popup({"maxWidth": "100%"});

        
            
                var html_1b174b572885c97531fd10d10bf2021a = $(`<div id="html_1b174b572885c97531fd10d10bf2021a" style="width: 100.0%; height: 100.0%;">Kunnamangalam(M:11:00:00,E:20:55:00)</div>`)[0];
                popup_8dd501710385f69c026cd2aa21d871a7.setContent(html_1b174b572885c97531fd10d10bf2021a);
            
        

        marker_dc249a95d717376683d9b86c6faea467.bindPopup(popup_8dd501710385f69c026cd2aa21d871a7)
        ;

        
    
    
            var marker_bd0026ad7042a1a5fb1333d40ea89547 = L.marker(
                [11.2953, 75.8345],
                {}
            ).addTo(map_004ab06042df6c7aae8d8839d6de5d61);
        
    
            var icon_e22eeb0cd095adbe41d4fc913a32f103 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_bd0026ad7042a1a5fb1333d40ea89547.setIcon(icon_e22eeb0cd095adbe41d4fc913a32f103);
        
    
        var popup_b8c719f3b580ebadb1f8e1fad1943111 = L.popup({"maxWidth": "100%"});

        
            
                var html_7177a54cc214a798f3c43b366f2ee8dc = $(`<div id="html_7177a54cc214a798f3c43b366f2ee8dc" style="width: 100.0%; height: 100.0%;">Moozhikal(M:10:17:00,E:22:17:00)</div>`)[0];
                popup_b8c719f3b580ebadb1f8e1fad1943111.setContent(html_7177a54cc214a798f3c43b366f2ee8dc);
            
        

        marker_bd0026ad7042a1a5fb1333d40ea89547.bindPopup(popup_b8c719f3b580ebadb1f8e1fad1943111)
        ;

        
    
    
            var marker_39140ebfaa4f9a10ba928f4cfae10129 = L.marker(
                [11.2857, 75.8115],
                {}
            ).addTo(map_004ab06042df6c7aae8d8839d6de5d61);
        
    
            var icon_48a5036e1eec6da369372a51e7d448df = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_39140ebfaa4f9a10ba928f4cfae10129.setIcon(icon_48a5036e1eec6da369372a51e7d448df);
        
    
        var popup_9aec1d2bdb2a6403959df2deb882ad7d = L.popup({"maxWidth": "100%"});

        
            
                var html_2adfadd282d535833ef53cb3d929ebec = $(`<div id="html_2adfadd282d535833ef53cb3d929ebec" style="width: 100.0%; height: 100.0%;">Malaparamb(M:0:00:00,E:21:17:00)</div>`)[0];
                popup_9aec1d2bdb2a6403959df2deb882ad7d.setContent(html_2adfadd282d535833ef53cb3d929ebec);
            
        

        marker_39140ebfaa4f9a10ba928f4cfae10129.bindPopup(popup_9aec1d2bdb2a6403959df2deb882ad7d)
        ;

        
    
    
            var marker_3babfef6f6a0afd1d85660ff9849295b = L.marker(
                [11.2588, 75.7804],
                {}
            ).addTo(map_004ab06042df6c7aae8d8839d6de5d61);
        
    
            var icon_e725d0198e11d5c6dbff00306df426bc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3babfef6f6a0afd1d85660ff9849295b.setIcon(icon_e725d0198e11d5c6dbff00306df426bc);
        
    
        var popup_b30a255f8600b948517bafab8a13872b = L.popup({"maxWidth": "100%"});

        
            
                var html_45283b536774474ecf446da5d17a2c50 = $(`<div id="html_45283b536774474ecf446da5d17a2c50" style="width: 100.0%; height: 100.0%;">Kozhikode(M:0:00:00,E:21:18:00)</div>`)[0];
                popup_b30a255f8600b948517bafab8a13872b.setContent(html_45283b536774474ecf446da5d17a2c50);
            
        

        marker_3babfef6f6a0afd1d85660ff9849295b.bindPopup(popup_b30a255f8600b948517bafab8a13872b)
        ;

        
    
</script>