<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6c9bb913dd916663240b561ae5c79afc {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_6c9bb913dd916663240b561ae5c79afc" ></div>
        
</body>
<script>    
    
            var map_6c9bb913dd916663240b561ae5c79afc = L.map(
                "map_6c9bb913dd916663240b561ae5c79afc",
                {
                    center: [11.3400929, 75.96622239999999],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e6a94554a2b0282c5ae842a7c31c6123 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6c9bb913dd916663240b561ae5c79afc);
        
    
            var marker_e7a97132b652a9346fd5d17be89f4ecc = L.marker(
                [11.2582, 75.7865],
                {}
            ).addTo(map_6c9bb913dd916663240b561ae5c79afc);
        
    
            var icon_c0d7b724d21c8f0e52333f6c7603a3c3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e7a97132b652a9346fd5d17be89f4ecc.setIcon(icon_c0d7b724d21c8f0e52333f6c7603a3c3);
        
    
        var popup_516f316dad7d3be4baf184bf53094e90 = L.popup({"maxWidth": "100%"});

        
            
                var html_6d4198bf02c362c13fdc935267622daf = $(`<div id="html_6d4198bf02c362c13fdc935267622daf" style="width: 100.0%; height: 100.0%;">new bus stand(M:11:59:00,E:22:59:00)</div>`)[0];
                popup_516f316dad7d3be4baf184bf53094e90.setContent(html_6d4198bf02c362c13fdc935267622daf);
            
        

        marker_e7a97132b652a9346fd5d17be89f4ecc.bindPopup(popup_516f316dad7d3be4baf184bf53094e90)
        ;

        
    
    
            var marker_75d2ee6dfaea6303a9536e79ce7f0980 = L.marker(
                [11.2857, 75.8115],
                {}
            ).addTo(map_6c9bb913dd916663240b561ae5c79afc);
        
    
            var icon_74a608a0724d6b213132c1a2e95c8fdb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_75d2ee6dfaea6303a9536e79ce7f0980.setIcon(icon_74a608a0724d6b213132c1a2e95c8fdb);
        
    
        var popup_0eb171e99ec3509e6e9cae11f5e26e66 = L.popup({"maxWidth": "100%"});

        
            
                var html_930a1db85f0bf36958024e78ef747aa3 = $(`<div id="html_930a1db85f0bf36958024e78ef747aa3" style="width: 100.0%; height: 100.0%;">Malaparamb(M:11:00:00,E:20:55:00)</div>`)[0];
                popup_0eb171e99ec3509e6e9cae11f5e26e66.setContent(html_930a1db85f0bf36958024e78ef747aa3);
            
        

        marker_75d2ee6dfaea6303a9536e79ce7f0980.bindPopup(popup_0eb171e99ec3509e6e9cae11f5e26e66)
        ;

        
    
    
            var marker_8aed8dc8069800ab45c076549aafe2d3 = L.marker(
                [1234.46, 12345.5],
                {}
            ).addTo(map_6c9bb913dd916663240b561ae5c79afc);
        
    
            var icon_ad87f97f0b1ddf891388e141b2a7d8d8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8aed8dc8069800ab45c076549aafe2d3.setIcon(icon_ad87f97f0b1ddf891388e141b2a7d8d8);
        
    
        var popup_57ef095be24eefd1a47b5dea9c66b257 = L.popup({"maxWidth": "100%"});

        
            
                var html_68bac4d9bca2371d4326ec6ef1ae3b2a = $(`<div id="html_68bac4d9bca2371d4326ec6ef1ae3b2a" style="width: 100.0%; height: 100.0%;">asdfgh(M:12:35:00,E:18:52:00)</div>`)[0];
                popup_57ef095be24eefd1a47b5dea9c66b257.setContent(html_68bac4d9bca2371d4326ec6ef1ae3b2a);
            
        

        marker_8aed8dc8069800ab45c076549aafe2d3.bindPopup(popup_57ef095be24eefd1a47b5dea9c66b257)
        ;

        
    
</script>