<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c591accdb3ee9fd71aa2258d905fbd03 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c591accdb3ee9fd71aa2258d905fbd03" ></div>
        
</body>
<script>    
    
            var map_c591accdb3ee9fd71aa2258d905fbd03 = L.map(
                "map_c591accdb3ee9fd71aa2258d905fbd03",
                {
                    center: [11.3400929, 75.96622239999999],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7bd65deec200b60c115b7543e62b2e11 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c591accdb3ee9fd71aa2258d905fbd03);
        
    
            var marker_0df43ea4cff609af64b650041b92582b = L.marker(
                [11.2582, 75.7865],
                {"markerColor": "#FF0000"}
            ).addTo(map_c591accdb3ee9fd71aa2258d905fbd03);
        
    
        var popup_ac9fdd667760046083d91d16cd527f86 = L.popup({"maxWidth": "100%"});

        
            
                var html_23153ed6226e78063a6fe5a876846e78 = $(`<div id="html_23153ed6226e78063a6fe5a876846e78" style="width: 100.0%; height: 100.0%;">new bus stand(M:7:20:00,E:17:30:00)</div>`)[0];
                popup_ac9fdd667760046083d91d16cd527f86.setContent(html_23153ed6226e78063a6fe5a876846e78);
            
        

        marker_0df43ea4cff609af64b650041b92582b.bindPopup(popup_ac9fdd667760046083d91d16cd527f86)
        ;

        
    
    
            var marker_ade5f6497b49d64f0a2e0b2495eebe33 = L.marker(
                [11.2722, 75.8372],
                {"markerColor": "#FF0000"}
            ).addTo(map_c591accdb3ee9fd71aa2258d905fbd03);
        
    
        var popup_fb1b0061bcb88cf24d31eecc4e4690b2 = L.popup({"maxWidth": "100%"});

        
            
                var html_8d8c8d125f823951879ececd7325167b = $(`<div id="html_8d8c8d125f823951879ececd7325167b" style="width: 100.0%; height: 100.0%;">Medical College(M:7:45:00,E:17:00:00)</div>`)[0];
                popup_fb1b0061bcb88cf24d31eecc4e4690b2.setContent(html_8d8c8d125f823951879ececd7325167b);
            
        

        marker_ade5f6497b49d64f0a2e0b2495eebe33.bindPopup(popup_fb1b0061bcb88cf24d31eecc4e4690b2)
        ;

        
    
    
            var marker_fd3799af1671cb2464d4ca50e8abd237 = L.marker(
                [11.3122, 75.9545],
                {"markerColor": "#FF0000"}
            ).addTo(map_c591accdb3ee9fd71aa2258d905fbd03);
        
    
        var popup_7f9b1edbb1cabe8b87d9482817c55dc1 = L.popup({"maxWidth": "100%"});

        
            
                var html_55b441f8d6254b26057ad4123f708027 = $(`<div id="html_55b441f8d6254b26057ad4123f708027" style="width: 100.0%; height: 100.0%;">Kmct(M:9:00:00,E:16:00:00)</div>`)[0];
                popup_7f9b1edbb1cabe8b87d9482817c55dc1.setContent(html_55b441f8d6254b26057ad4123f708027);
            
        

        marker_fd3799af1671cb2464d4ca50e8abd237.bindPopup(popup_7f9b1edbb1cabe8b87d9482817c55dc1)
        ;

        
    
</script>