{% extends 'admin_index.html' %}
{% block body %}

<body>
<div class="card-body">
    <h5 class="card-title">Report</h5>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admindash"><i class="bi bi-house-door"></i></a></li>
            <li class="breadcrumb-item"><a href="#">Route</a></li>
        </ol>
    </nav>
</div>

<div class="col-12">
    <div class="card">




 <canvas id="lineChart" style="max-height: 400px;"></canvas>

    </div>
</div>
<script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#lineChart'), {
                    type: 'line',
                    data: {
                      labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July','August','September','October','November','December'],
                      datasets: [{
                        label: 'Line Chart',
                        data: {{a}},
                        fill: true,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });
                });
              </script>

</body>


{% endblock %}


