{% extends 'index_user.html' %}
{% block body %}


<div class="card-body">
    <h5 class="card-title">Route</h5>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admindash"><i class="bi bi-house-door"></i></a></li>
            <li class="breadcrumb-item"><a href="#">Route</a></li>
            <!--<li class="breadcrumb-item active">Default</li>-->
        </ol>
    </nav>
</div>

<!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="card-body pb-0">
                  <h5 class="card-title"></h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Route No</th>
                        <th scope="col">Route Code</th>
                        <th scope="col">Route Name</th>
                        <th scope="col">View</th>
                      </tr>
                    </thead>

                      {% for i in val %}

                    <tbody>
                      <tr>
                        <td>{{i['route_no']}}</td>
                        <td>{{i['route_code']}}</td>
                        <td>{{i['route_name']}}</td>
                        <!--<td><a href="/view_route1?id={{ i['route_id'] }}">View</td>-->
                        <td><a class="btn btn-primary " href="/view_route1?id={{ i['route_id'] }}"><i class="bi bi-eye"></i></a></td>
                      </tr>

                    {% endfor %}

                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->




{% endblock %}