{% extends 'index_user.html' %}
{% block body %}

<div class="card-body">
    <h5 class="card-title">Payment History</h5>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admindash"><i class="bi bi-house-door"></i></a></li>
            <li class="breadcrumb-item"><a href="#">Payment History</a></li>
            <!--<li class="breadcrumb-item active">Default</li>-->
        </ol>
    </nav>
</div>


   <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="card-body pb-0">

                  <table class="table table-borderless">
                    <thead>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-borderless datatable">
      <thead>
    <tr>
      <th></th>
      <th>Year</th>
      <th>Month</th>
      <!--<th>Stop</th>-->
      <th>Amount</th>
      <th>Date</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
      {% for i in val %}
      <tbody>
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{i['year']}}</td>
      <td>{{i['month']}}</td>
      <!--<td>{{i['stop']}}</td>-->
      <td>{{i['amount']}}</td>
      <td>{{i['nd']}}</td>
      <td><a href="/user_pay_history1?id={{i['pay_id']}}">Download</a></td>
    </tr>
    </tbody>
      {% endfor %}
  </table>
</form>
</body>
    </div>
              </div>
            </div>


{% endblock %}