<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>ViewProfile</title>
</head>
<body>
<form id="form1" name="form1" method="post" action="">

  <table>
    <tr>
      <th>Select Bus</th>
      <td><select name="clg">
            <option>Bus 1</option>
            <option>Bus 2</option>
        </select></td>
    </tr>
  </table>


  <table width="200" border="1">
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Amount</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['loop.index']}}</td>
      <td>{{i['datetime']}}</td>
      <td>{{i['amount']}}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>


