{% extends 'admin_index.html' %}
{% block body %}

<div class="card-body">
    <h5 class="card-title">Driver</h5>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admindash"><i class="bi bi-house-door"></i></a></li>
            <li class="breadcrumb-item"><a href="#">Driver</a></li>
            <!--<li class="breadcrumb-item active">Default</li>-->
        </ol>
    </nav>
</div>

<div class="col-12">
    <div class="card">
<body>
<form id="form1" name="form1" method="post" action="add_driver">
  <table class="table table-hover datatable">
    <thead>
    <tr>
      <th>#</th>
      <!--<th>Driver_no</th>-->
      <th>Name</th>
      <th>Address</th>
      <th>Image</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Licence</th>
      <th>status</th>
      <th colspan="2">Action</th>
      <!--<th></th>-->
    </tr>
    </thead>
    {% for i in val %}
    <tr>
      <td>{{ loop.index }}</td>
      <!--<td>{{i['driver_no']}}</td>-->
      <td>{{i['driver_name']}}</td>
      <td>{{i['driver_address']}}</td>
      <td><img src="../static/driver/{{i['driver_image']}}" width="100" height="100"/> </td>
      <td>{{i['driver_email']}}</td>
      <td>{{i['driver_mobile']}}</td>
      <td>{{i['driver_license']}}</td>
      <td>{{i['status']}}</td>
      <td><a class="btn btn-success btn-sm" href="/edit_driver?id={{ i['driver_id'] }}"><i class="bi bi-pencil-square"></i></a></td>
      <!--<td><a class="btn btn-danger btn-sm" href="/delete_driver?id={{ i['driver_id'] }}"><i class="bi bi-trash"></i></a></td>-->
    </tr>
    {% endfor %}
  </table>
  <input class="btn btn-primary" type="submit" name="Submit" value="Add" />
</form>
</body>
    </div>
</div>
{% endblock %}
