{% extends 'admin_index.html' %}
{% block body %}


<div class="card-body">
    <h5 class="card-title">Route</h5>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admindash"><i class="bi bi-house-door"></i></a></li>
            <li class="breadcrumb-item"><a href="#">Route</a></li>
        </ol>
    </nav>
</div>

<div class="col-12">
    <div class="card">

<body>
<form id="form1" name="form1" method="post" action="add_route">
  <table class="table table-hover datatable ">
    <thead>
      <tr>
         <!--<th>#</th>-->
         <th scope="col">Route_no</th>
         <th>Route_code</th>
         <th>Route_Name</th>
         <th colspan="3">Action</th>
      </tr>
    </thead>
    {% for i in val %}
    <tr>
      <!--<td>{{ loop.index }}</td>-->
      <td>{{i['route_no']}}</td>
      <td>{{i['route_code']}}</td>
      <td>{{i['route_name']}}</td>
      <td><a class="btn btn-success btn-sm" href="/edit_route?id={{ i['route_id'] }}"><i class="bi bi-pencil-square"></i></a></td>
      <td><a class="btn btn-danger btn-sm" href="/delete_route?id={{ i['route_id'] }}"><i class="bi bi-trash"></i></a></td>
      <td><a class="btn btn-primary " href="/admin_view_route1?id={{ i['route_id'] }}"><i class="bi bi-eye"></i></a></td>

    </tr>
    {% endfor %}
    </table>
      <input class="btn btn-primary" type="submit" value="Add" />
</form>
</body>

    </div>
</div>




<!--&lt;!&ndash; Recent Sales &ndash;&gt;-->

<!--<div class="card-body">-->
    <!--<h5 class="card-title">Route</h5>-->
    <!--<nav>-->
        <!--<ol class="breadcrumb">-->
            <!--<li class="breadcrumb-item"><a href="/admindash"><i class="bi bi-house-door"></i></a></li>-->
            <!--<li class="breadcrumb-item"><a href="#">Route</a></li>-->
        <!--</ol>-->
    <!--</nav>-->
<!--</div>-->
            <!--<div class="col-12">-->
              <!--<div class="card recent-sales overflow-auto">-->
                <!--<div class="card-body">-->
                  <!--<h5 class="card-title"></h5>-->

                  <!--<form id="form1" name="form1" method="post" action="add_route">-->
                  <!--<table class="table table-hover datatable">-->
                    <!--<thead>-->
                      <!--<tr>-->
                        <!--<th scope="col">#</th>-->
                        <!--<th scope="col">Route No</th>-->
                        <!--<th scope="col">Route code</th>-->
                        <!--<th scope="col">Route Name</th>-->
                        <!--<th scope="col" colspan="2">Action</th>-->
                      <!--</tr>-->
                    <!--</thead>-->

                    <!--{% for i in val %}-->

                    <!--<tbody>-->
                      <!--<tr>-->
                          <!--<th scope="row">{{ loop.index }}</th>-->
                          <!--<td>{{i['route_no']}}</td>-->
                          <!--<td>{{i['route_code']}}</td>-->
                          <!--<td>{{i['route_name']}}</td>-->
                          <!--<td><a class="btn btn-success btn-sm" href="/edit_route?id={{ i['route_id'] }}"><i class="bi bi-pencil-square"></i></a></td>-->
                          <!--<td><a class="btn btn-danger btn-sm" href="/delete_route?id={{ i['route_id'] }}"><i class="bi bi-trash"></i></a></td>-->
                      <!--</tr>-->
                    <!--</tbody>-->

                    <!--{% endfor %}-->

                  <!--</table>-->

                      <!--<input class="btn btn-primary" type="submit" value="Add" />-->
                    <!--</form>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>&lt;!&ndash; End Recent Sales &ndash;&gt;-->

{% endblock %}


