{% extends 'admin_index.html' %}
{% block body %}

<div class="card-body">
    <h5 class="card-title">Bus</h5>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admindash"><i class="bi bi-house-door"></i></a></li>
            <li class="breadcrumb-item"><a href="#">Bus</a></li>
            <!--<li class="breadcrumb-item active">Default</li>-->
        </ol>
    </nav>
</div>

<div class="col-12">
    <div class="card">

<body>
<form id="form1" name="form1" method="post" action="add_bus">
  <table class="table table-hover datatable">
    <thead>
    <tr>
      <!--<th>#</th>-->
      <th>Bus_no</th>
      <th>Route Name</th>
      <th>Bus_regno</th>
      <th>Bus_name</th>
      <th>Bus_image</th>
      <th>Total seat</th>
      <th>Filled seat</th>
      <th>status</th>
      <th colspan="2">Action</th>
      <!--<th></th>-->
    </tr>
    </thead>
    {% for i in val %}
    <tr>
      <!--<td>{{ loop.index }}</td>-->
      <td>{{i['bus_no']}}</td>
      <td>{{i['route_name']}}</td>
      <td>{{i['bus_regno']}}</td>
      <td>{{i['bus_name']}}</td>
      <td><img src="../static/bus/{{i['bus_image']}}" width="100" height="100"/> </td>
      <td>{{i['seat']}}</td>
      <td>{{i['available_seat']}}</td>
      <td>{{i['status']}}</td>
      <td><a class="btn btn-success btn-sm" href="/edit_bus?id={{ i['bus_id'] }}"><i class="bi bi-pencil-square"></i></a></td>
      <td><a class="btn btn-danger btn-sm" href="/delete_bus?id={{ i['bus_id'] }}"><i class="bi bi-trash"></i></a></td>
    </tr>
    {% endfor %}
  </table>
  <input class="btn btn-primary" type="submit" name="Submit" value="Add" />
</form>
</body>
    </div>
</div>
{% endblock %}
